h1{
    color:blue;
}

#top-box, #bottom-box{
    border:2px solid grey;
}

input{
    width:100%;
}


.train-pic{
    background-image: url("images/train.gif");
    width:100%;
    height:100%;
    
}
